<html>
   <body>
      <div class="container">
         <h1>Upload an image</h1>
         <form action="/upload" method="POST" 
            enctype="multipart/form-data">
            <div class="form-group">
               <label>Select a file...</label>
               <div class="custom-file">
                  <input type="file" name="file" id="file">
               </div>
            </div>
            <button type="submit" class="btn btn-primary">UPLOAD</button>
         </form>
      </div>
   </body>
</html>
